<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActionExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BBTestAppEnterpriseAndAppStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>833B36871BDD719C0062C00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>833B36A01BDD719C0062C00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>833B36AB1BDD719C0062C00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>833B36C11BDD71C70062C00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
